@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

[class~="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 11, 20, 26;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  transition: background 0.3s ease, color 0.3s ease;
}

